$tf*/
*.aps
*.bak
*.cache
*.exe
*.ilk
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.sln.docstates
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
obj/
packages/*
Thumbs.db
